
*{
  padding: 0;
  margin: 0;
}
  body{
    margin: auto;
  background-image: url(../assets/feet.jpeg);
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center;
} 

/* button styling */
.btn {
  height: 40px;
  width: 100px;
  background:#F1D760;
  color: black;
  border-radius: 10px;
}
nav , footer{   
  background-color:#FEFAF9;   
}

.navlink,.icon{
  color: black;
  font-weight: bold; 
  list-style: none;   
}
.navlink:hover{
  color: rgb(255, 174, 0)
}

/* form styling */
.form-container{ 
  height: 70vh;
  border-radius: 30px;
  background-color: #FEFAF9;
  opacity: 0.8;
}
input, label, select {
  padding: 5px;
  width: 70%;  
}

.response{
  font-size:50px
}

/* pages */
.pageOne, .pageThree{
  height:50vh;
}
.pageTwo{
  flex-direction: column;
}