/* 
.bbb{
  color: red;
} */

/* header styling */
.btn {
  height: 40px;
  width: 100px;
  background:#FAF8F8;
  color: black;
  border-radius: 10px;
}
nav{   
  background-color:#FEFAF9;
   
}
.navlink{
  color: black;
  font-weight: bold; 
  list-style: none; 
}
.navlink:hover{
  color: rgb(255, 174, 0)
}

/* form styling */
.userInput{
  flex-direction: column;
  /* border: 1px solid black; */
  
}