/* 
.bbb{
  color: red;
} */

*{
  padding: 0;
  margin: 0;
}
body{
  background-image: url(assets/feet.jpeg);
}

/* header styling */
.btn {
  height: 40px;
  width: 100px;
  background:#FAF8F8;
  color: black;
  border-radius: 10px;
}
nav , footer{   
  background-color:#FEFAF9;   
}

.navlink, .icon{
  color: black;
  font-weight: bold; 
  list-style: none;   
}
.navlink:hover{
  color: rgb(255, 174, 0)
}

/* form styling */
.form-container {
  border-radius: 30px;
}
